
.navbar{
  display: flex;
  gap: 5rem;
  color: black;
  

}
.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 10rem;
    padding: 10px;
    
    
}
.navbar ul a{
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;


}
.navbar ul a ::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, #00f, transparent);
    background-clip: content-box;


}
.navbar ul a:hover{
    color:rgb(255, 0, 21);
}
.navbar ul a[href^="#"]{
cursor: pointer;
color: inherit;
}
button{
    border: 1px solid chocolate;
    border-radius: 10px;
    padding: 10px 20px;
   


}
.btn{
    color: rgb(248, 15, 15);
    border:none;
    padding: 10ps;
}